Repository httpwg/http-core, pull requests merged in 2020-12, with the labels that each got.

#548 Remove obsolete note about a change in "Expect" syntax (fixes #547)
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics

#549 remove table with validators (fixes #537)
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics

#552 "canonical root URI" -> "origin" (fixes #542)
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics

#558 use proper field terminology when discussing trailer processing (fixes #583)
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics

#563 semantics: remove surplus tables repeating field names (fixes #562)
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics

#569 consistent indentation of "Notes" (fixes #564)
  draft-ietf-httpbis-cache-latest.xml
  draft-ietf-httpbis-semantics-latest.xml
Labels: caching, editorial, semantics

#575 add :authority pseudo-header to Host discussion and make section applicable to both
  draft-ietf-httpbis-semantics-latest.xml
Labels: semantics

#577 remove mention of "Warning" header field (fixes #573)
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics

#588 update references to other security considerations
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics

#587 simplify security consideration on confidentiality of credentials
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics

#576 clarify the payload in 200 (OK)
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics

#592 Make TLS ref normative (fixes #589)
  draft-ietf-httpbis-semantics-latest.xml
Labels: semantics

#595 fix an off-by-one bug about how many chars to consider when checking for etags (fixes #570)
  draft-ietf-httpbis-semantics-latest.xml
Labels: semantics

#596 move method ABNF one paragraph down (fixes #560)
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics

#590 improve abstract
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics

#591 rearrange content negotiation so that all fields are at end
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics

#599 remove old organization intro text and update headings (editorial)
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics

#600 Rephrase prose about connection re-use (fixes #579)
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics

#536 move transfer-coding ABNF to Semantics and clean it up
  draft-ietf-httpbis-messaging-latest.xml
  draft-ietf-httpbis-semantics-latest.xml
  httpbis.abnf
Labels: h1-messaging, semantics

#601 Potentially allow Range handling on methods other than GET (fixes #581)
  draft-ietf-httpbis-semantics-latest.xml
Labels: semantics

#602 clarify definition of HEAD and why some header fields differ in response
  draft-ietf-httpbis-semantics-latest.xml
Labels: semantics

#606 field value terminology adjustment (fixes #605)
  draft-ietf-httpbis-cache-latest.xml
Labels: caching, editorial

#604 use list for "Handling a Received Validation Request" (fixes #603)
  draft-ietf-httpbis-cache-latest.xml
Labels: caching, editorial

#610 reorganize and edit the target resource, target URI, and request target ...
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics

#611 use <em> markup instead of uppercasing (fixes #607)
  draft-ietf-httpbis-cache-latest.xml
Labels: caching, editorial

#612 Replace "partial request" with "range request"
  draft-ietf-httpbis-semantics-latest.xml
Labels: semantics

#613 point to 1.1 transfer coding definition (fixes #543)
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics

#616 note that RFC 1945 also describes HTTP/0.9 (fixes #614)
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics

#615 remove accept-params from Accept field ABNF (fixes #568)
  draft-ietf-httpbis-semantics-latest.xml
  httpbis.abnf
Labels: semantics
