Repository httpwg/http-core, pull requests merged in 2021-01, with the labels that each got.

#623 Clarify that intermediary can forward dual TE and CL message after removing CL and processing TE
  draft-ietf-httpbis-messaging-latest.xml
Labels: h1-messaging

#653 provide a definition for partial PUT
  draft-ietf-httpbis-semantics-latest.xml
Labels: semantics

#679 fix cache response directive subsection ordering (fixes #674)
  draft-ietf-httpbis-cache-latest.xml
Labels: caching, editorial

#689 avoid term "whitelist" (fixes #688)
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics

#693 Remove 6919 language
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, has-proposal, semantics

#716 move paragraph about delimiters down (fixes #677)
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics

#718 Values of newly defined fields should only use VCHAR/SP/HTAB (fixes #696)
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics

#720 Clarify that selection between multiple acceptable codings is only relevant when some of the acceptable ones are redundant (fixes #714)
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics
