Repository httpwg/http-core, pull requests merged in 2021-09, with the labels that each got.

#967 improve section references (#966)
  draft-ietf-httpbis-cache-latest.xml
  draft-ietf-httpbis-messaging-latest.xml
  draft-ietf-httpbis-semantics-latest.xml
  lib/abnf2xml2rfc.xslt
Labels: h1-messaging, editorial

#969 split the long requirement on decoding chunked trailer fields into …
  draft-ietf-httpbis-messaging-latest.xml
Labels: h1-messaging

#971 align text about "q" parameter with recent changes to IANA media types registry (closes #970)
  draft-ietf-httpbis-semantics-latest.xml
Labels: semantics, editorial

#979 fix IANA field name registry status inconsistencies (fixes #978)
  draft-ietf-httpbis-cache-latest.xml
  draft-ietf-httpbis-messaging-latest.xml
  draft-ietf-httpbis-semantics-latest.xml
  lib/extract-header-defs.xslt
Labels: h1-messaging, semantics, caching, editorial
