Repository httpwg/http-core, pull requests merged in 2021-08, with the labels that each got.

#917 ETag is not a request field (#914)
  draft-ietf-httpbis-semantics-latest.xml
Labels: semantics

#920 For 'Accept-Encoding', clarify that these are examples, not a single multi-line one (#914)
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics

#919 In 'Trailer', consistently use the term 'signature' (#914)
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics

#918 te: add forward reference to 'weight' (#914)
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics

#921 s/larger number of multiple connections/larger numbers of connections/ (#915)
  draft-ietf-httpbis-messaging-latest.xml
Labels: editorial, h1-messaging

#922 tune prose in text that references [HTTP] for status code information (#915)
  draft-ietf-httpbis-messaging-latest.xml
Labels: editorial, h1-messaging

#925 Note that response metadata can influence content semantics (#914)
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics

#928 clarify ordering of outstanding requests
  draft-ietf-httpbis-messaging-latest.xml
Labels: editorial, h1-messaging

#927 clarify and restate (without an ought) what the ABNF already says …
  draft-ietf-httpbis-messaging-latest.xml
Labels: editorial, h1-messaging

#926 rewrite paragraphs on invalid whitespace-preceded first field lines …
  draft-ietf-httpbis-messaging-latest.xml
Labels: editorial, h1-messaging

#931 properly refer to text that has moved to [HTTP/1.1] (closes #930)
  draft-ietf-httpbis-semantics-latest.xml
Labels: semantics, editorial

#936 move Date and Trailer to a new (last) subsection of Message Abstraction
  draft-ietf-httpbis-semantics-latest.xml
Labels: semantics, editorial

#937 Move ABNF for obs-text up (#914)
  draft-ietf-httpbis-semantics-latest.xml
Labels: semantics, editorial

#941 Clarify that a false If-Range means ignore the Range
  draft-ietf-httpbis-semantics-latest.xml
Labels: semantics, editorial

#948 clarify history of redirect status codes (closes #947)
  draft-ietf-httpbis-semantics-latest.xml
Labels: semantics, editorial

#939 Rephrase description of Vary to be more explanatory
  draft-ietf-httpbis-semantics-latest.xml
Labels: semantics, editorial

#952 explicitly refer to how this spec defines access to http or https resources
  draft-ietf-httpbis-semantics-latest.xml
Labels: semantics, editorial

#955 make clock a defined term and use it as such
  draft-ietf-httpbis-cache-latest.xml
  draft-ietf-httpbis-semantics-latest.xml
Labels: semantics, editorial

#956 split when to use validators into other sections
  draft-ietf-httpbis-cache-latest.xml
  draft-ietf-httpbis-semantics-latest.xml
Labels: semantics, caching

#962 remove mention of obs-fold line folding from semantics
  draft-ietf-httpbis-messaging-latest.xml
  draft-ietf-httpbis-semantics-latest.xml
Labels: h1-messaging, semantics

#960 make preconditions consistent on when they are required to be evaluated …
  draft-ietf-httpbis-semantics-latest.xml
Labels: semantics
