Repository httpwg/http-core, pull requests merged in 2021-03, with the labels that each got.

#747 Move statement about relation between Content-Length and Transfer-Encoding into Messaging (fixes #704)
  draft-ietf-httpbis-messaging-latest.xml
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, h1-messaging, semantics

#798 simplify description of reactive content negotiation (editorial)
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics

#797 Clarify that HTTP self-descriptive messages have an exception …
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics

#803 cleanup anchor names (fixes #287)
  draft-ietf-httpbis-cache-latest.xml
  draft-ietf-httpbis-messaging-latest.xml
  draft-ietf-httpbis-semantics-latest.xml
Labels: caching, editorial, h1-messaging, semantics

#807 use uri-host:port to define the authority form
  draft-ietf-httpbis-messaging-latest.xml
  httpbis.abnf
Labels: h1-messaging

#706 How a HEAD response terminates is version-specific
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics

#794 Change HTTP messages to <sourcecode>
  draft-ietf-httpbis-cache-latest.xml
  draft-ietf-httpbis-messaging-latest.xml
  draft-ietf-httpbis-semantics-latest.xml
Labels: waiting

#817 clarify extensibility of preconditions
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics

#821 tweak the Acks to remove me
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics

#822 adjust description about clients that retry using weaker signals ...
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics
