Repository httpwg/http-core, pull requests merged in 2021-07, with the labels that each got.

#888 Changes: note deprecation of Accept-Charset (closes #886)
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics

#871 reference 'sameness' in URI spec (fixes #863)
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics

#889 reference "Terminology" + minor cleanups (#869)
  draft-ietf-httpbis-cache-latest.xml
  draft-ietf-httpbis-messaging-latest.xml
  draft-ietf-httpbis-semantics-latest.xml
Labels: caching, editorial, h1-messaging, semantics

#853 Lars Eggert COMMENT draft-ietf-httpbis-messaging-16 (for #852)
  draft-ietf-httpbis-cache-latest.xml
  draft-ietf-httpbis-messaging-latest.xml
  draft-ietf-httpbis-semantics-latest.xml
Labels: h1-messaging

#855 Roman Danyliw COMMENT draft-ietf-httpbis-semantics-16 (for #854)
  draft-ietf-httpbis-semantics-latest.xml
Labels: semantics

#900 (editorial) tweaks inspired by kaduk suggestions from IESG review
  draft-ietf-httpbis-cache-latest.xml
Labels: caching, editorial

#899 forked suggestions by kaduk with further edits
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics

#901 (editorial) remove bit about accepting absolute-form for potential transition
  draft-ietf-httpbis-messaging-latest.xml
Labels: editorial, h1-messaging

#903 address remaining Roman Danyliw editorial comments
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics

#902 clarify that Accept-Ranges can be sent by any server
  draft-ietf-httpbis-semantics-latest.xml
  httpbis.abnf
Labels: semantics

#905 require recipients to avoid smuggling/splitting attacks when processing …
  draft-ietf-httpbis-messaging-latest.xml
Labels: h1-messaging

#906 without changing the protocol, be explicit about when non-standard content in requests …
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics

#907 switch to named references instead of RFC numbers (for HTTP family)
  draft-ietf-httpbis-cache-latest.xml
  draft-ietf-httpbis-messaging-latest.xml
  draft-ietf-httpbis-semantics-latest.xml
  httpbis.abnf
  lib/abnf2xml2rfc.xslt
  lib/common-abnf.sh
Labels: caching, editorial, h1-messaging, semantics

#910 change log for #902
  draft-ietf-httpbis-semantics-latest.xml
Labels: editorial, semantics

#909 add change note for #905
  draft-ietf-httpbis-messaging-latest.xml
Labels: editorial, semantics
