Repository httpwg/http-core, pull requests merged in 2022-03, with the labels that each got.

#1042 rephrase requirements for 100-c (see #1019)
  draft-ietf-httpbis-semantics-latest.xml
Labels: semantics, editorial, auth48

#1043 terminology (closes #1039)
  draft-ietf-httpbis-cache-latest.xml
  draft-ietf-httpbis-messaging-latest.xml
  draft-ietf-httpbis-semantics-latest.xml
Labels: h1-messaging, semantics, caching, editorial

#1012 clarify handling of invalid or unsatisfiable range requests
  draft-ietf-httpbis-semantics-latest.xml
Labels: semantics, editorial

#1046 cite HTTP/2 rev where applicable (closes #1045)
  draft-ietf-httpbis-semantics-latest.xml
Labels: semantics, auth48
